html {
  font-family: 'Kumbh Sans', sans-serif;
}


.accordion {
    color: hsl(238, 29%, 16%);
    font-size: 12px;
    cursor: pointer;
    margin: 1px;
    padding: 1rem;
    width: 100%;
    text-align: justify;
    box-shadow: 0 10px 10px 0 hsl(237, 12%, 33%);
    transition: transform 100ms box-shadow 100ms;
    overflow: hidden;
  }

    .accordion:after {
      content: "\02C5";
      font-size: 13px;
      color: hsl(14, 88%, 65%);
      float: right;
      margin-left: 2px;
    }
    .active:after {
      content: '\005E';
      color: hsl(14, 88%, 65%);
      font-size: 13px;
    }
  

  .active, .accordion:hover {
    color: hsl(14, 88%, 65%);
  }
  
  .active, .accordion:focus {
    color:hsl(238, 29%, 16%);
    font-weight: 700;
  }

  
  hr.solid {
    border-bottom: 2px solid hsl(240, 5%, 91%);

  }
  .panel {
    color: hsl(237, 12%, 33%);
    font-size: 12px;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out
  }
  #header{
    font-size: 28px;
    font-weight: 700;
    color: #1d1e35;
  }

body{
  background-image: linear-gradient(#6565e7,
   #af67e9);
   padding: 10px;
  overflow: hidden;
  margin: 50px;
  }